.pokemon-details-container {
	max-width: 20rem;
	min-height: 14rem;

	margin: 1rem;
	
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	border-radius: 1rem;
	border: 2px solid var(--yellow);
	
	background-color: var(--black);
	color: var(--white);
}

.pokemon-details-container img {
	margin: 1rem;
	min-width: 40%;
	margin-bottom: 0.4rem;
}	

.pokemon-info-container {
	display: flex;

	width: 100%;

	padding: 0.4rem 0;
	margin-bottom: 0.4rem;
	
	justify-content: space-around;
	align-items: center;

	border-bottom: 2px solid var(--yellow);
}

.pokemon-info-container h2 {
	font-size: 14px;
	font-weight: 600;
}

.pokemon-info-container p {
	font-size: 12px;
	font-weight: 400;
}

.category-container {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin: 0.4rem 0;

	justify-content: center;
	align-items: center;
}

.category-container h2 {
	font-size: 16px;
	font-weight: 600;

	margin-bottom: 0.2rem;
}

.category-grid {
	width: 90%;
	display: grid;

	grid: auto-flow dense / 34% 33% 33%;
}

.pokemon-category-container {
	display: flex;
	min-width: 4rem;
	margin: 0.2rem;
	padding: 0.4rem;

	justify-content: center;
	align-items: center;

	background-color: var(--white);

	border-radius: 1rem;
	border: 2px solid var(--yellow)
}

.pokemon-category-container p {
	font-style: italic;
	font-size: 12px;
	font-weight: 700;
	color: var(--black);
}
